[defaults]
inventory = inventory.sh
host_key_checking = False
# Adjust path to your private key if needed
private_key_file = ~/.ssh/google_compute_engine
roles_path = roles
deprecation_warnings = False

[ssh_connection]
pipelining = True
