---
gcrKeyPath: {{ gdc_home }}/bm-gcr.json
sshPrivateKeyPath: {{ gdc_home }}/.ssh/id_rsa
gkeConnectAgentServiceAccountKeyPath: {{ gdc_home }}/bm-gcr.json
gkeConnectRegisterServiceAccountKeyPath: {{ gdc_home }}/bm-gcr.json
cloudOperationsServiceAccountKeyPath: {{ gdc_home }}/bm-gcr.json
---
apiVersion: v1
kind: Namespace
metadata:
  name: cluster-{{ cluster_name }}
---
apiVersion: baremetal.cluster.gke.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: cluster-{{ cluster_name }}
spec:
  type: standalone
  profile: default
  anthosBareMetalVersion: {{ bmctl_version }}
  nodeAccess:
    loginUser: {{ gdc_user }}
  gkeConnect:
    projectID: {{ gcp_project_id }}
  controlPlane:
    nodePoolSpec:
      clusterName: {{ cluster_name }}
      kubeletConfig:
        kubeReserved:
          cpu: 2400m
          memory: 10240Mi
        #shutdownGracePeriod: 30s
        #shutdownGracePeriodCriticalPods: 10s
        systemReserved:
          cpu: 2400m
          memory: 10240Mi
      nodes:
      - address: {{ hostvars['node1'].vxlan_ip }}
      - address: {{ hostvars['node2'].vxlan_ip }}
      - address: {{ hostvars['node3'].vxlan_ip }}
      operatingSystem: linux
      taints:
{% for taint in cluster_node_taints %}
      - key: {{ taint.key }}
{% if taint.value is defined %}
        value: {{ taint.value }}
{% endif %}
        effect: {{ taint.effect }}
{% endfor %}
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ pod_cidrBlocks }}
    services:
      cidrBlocks:
      - {{ services_cidrBlocks }}
  loadBalancer:
    mode: bundled
    ports:
      controlPlaneLBPort: 443
    vips:
      controlPlaneVIP: {{ vxlan_base_ip }}.49
      ingressVIP: {{ vxlan_base_ip }}.50
    addressPools:
    - name: pool1
      addresses:
      - {{ vxlan_base_ip }}.50-{{ vxlan_base_ip }}.70
  clusterOperations:
    location: us-central1
    projectID: {{ gcp_project_id }}
  storage:
    lvpNodeMounts:
      path: /mnt/localpv-disk
      storageClassName: node-disk
    lvpShare:
      numPVUnderSharedPath: 5
      path: /mnt/localpv-share
      storageClassName: local-shared
  nodeConfig:
    podDensity:
      maxPodsPerNode: {{ maxPodsPerNode }}
