[Unit]
Description=GEM on GCP VXLAN Overlay Emulation
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/setup-gem-vxlan.sh
# Remove the old IP tables rule when stopping the service
ExecStop=/sbin/iptables -t mangle -D POSTROUTING -p tcp --tcp-flags SYN,RST SYN -o vxlan0 -j TCPMSS --clamp-mss-to-pmtu 2>/dev/null || true
ExecStop=/sbin/ip link delete vxlan0 2>/dev/null || true

[Install]
WantedBy=multi-user.target
